.questionsAnswers{
  .center {
    padding: 5% 10%;
    .answerBlock{
      padding: 15px 0 0 0;
      p{
        font: 300 1.5em 'CenturyGothic-Regular';
        color: #515150;
        &:hover{
          cursor: pointer;
          color: #68b4e4;
        }
      }
      span{
        font: 300 1.5em 'CenturyGothic-Regular';
        display: inline-block;
        margin: 10px 0 0 25px;
        color: #777775;
      }
    }
  }
}