<div class="modal-content legalBase">
    <form name="formData">
        <p class="title">Введіть данні для створення нового запису</p>
        <span>Введіть текст:</span>
        <textarea type="text" ng-model="legalBaseData.legalBaseInfo.title" required></textarea>
        <span>Введіть дату:</span>
        <input type="text" ng-model="legalBaseData.legalBaseInfo.date" required>
    </form>
</div>
<div class="modal-footer">
   <button class="blue-btn" ng-click="closeThisDialog()">Скасувати</button>
   <button class="blue-btn" ng-click="createNewLegal()" ng-disabled="formData.$invalid || formData.$pristine ">Створити</button>
</div>
