@font-face {
  font-family: 'CenturyGothic-Regular';
  src: url('assets/fonts/CenturyGothic-Regular/CenturyGothic-Regular.eot');
  src: url('assets/fonts/CenturyGothic-Regular/CenturyGothic-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CenturyGothic-Regular/CenturyGothic-Regular.woff2') format('woff2'),
  url('assets/fonts/CenturyGothic-Regular/CenturyGothic-Regular.woff') format('woff'),
  url('assets/fonts/CenturyGothic-Regular/CenturyGothic-Regular.ttf') format('truetype'),
  url('assets/fonts/CenturyGothic-Regular/CenturyGothic-Regular.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('assets/fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot');
  src: url('assets/fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff2') format('woff2'),
  url('assets/fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff') format('woff'),
  url('assets/fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf') format('truetype'),
  url('assets/fonts/CenturyGothic-Bold/CenturyGothic-Bold.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}