.underlined{
  position: relative;
  &:after {
    position: absolute;
    content: "";
    top: 25px;
    left: 0;
    height: 2px;
    width: 0;
    transition: width .3s ease-in-out;
  }
  &:hover{
    cursor: pointer;
    &:after{
      width: 100%;
    }
  }
}
.blue-btn{
  background-color: #68b4e4;
  font: 300 1.6em 'CenturyGothic-Regular';
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all .3s;
  &:disabled{
    background-color: #387290;
    &:hover{
      background-color: #387290;
      cursor: not-allowed;
    }
  }
  &:hover{
    box-shadow: none;
    transition: all .3s;
    background-color: #5990bb;
  }
}

input{
  font: 300 1.6em 'CenturyGothic-Regular';
  color: #68b4e4;
  padding: 11px 10px;
  border: 1px solid #68b4e4;
  transition: all .3s;
  outline: none;
  width: 100%;
  margin: 0 0 15px 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  &::-webkit-input-placeholder {color:#68b4e4;}
  &::-moz-placeholder          {color:#68b4e4;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#68b4e4;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#68b4e4;}
}
