.contacts{
  .center {
    padding: 0 10%;
    h1, h2{
      text-align: center;
      padding: 35px 0;
      color: #515150;
      font: 300 2.5em 'CenturyGothic-Regular';
    }
    .contacts-side {
      .contacts-block {
        margin: 0;
        padding: 15px 0 0 0;
        color: #515150;
        p, a{
          font: 300 1.4em 'CenturyGothic-Regular';
        }
        a{
          color: #515150;
          &:after{
            height: 1px;
            background-color: #515150;
          }
        }
      }
    }
    .google-map{
      width: 100%;
      padding: 45px 0 0 0;
      iframe{
        width: inherit;
        min-height: 350px;
      }
    }
  }
}