<div class="center">
    <div class="footer clear-fix">
        <div class="logo-side fl">
            <div class="logo-block">
                <a href="http://cazi.gov.ua" target="_blank"><span class="logo-cazi"></span></a>
                <p>ЦАЗІ України</p>
            </div>
            <div class="logo-block">
                <a href="http://dsszzi.gov.ua" target="_blank"><span class="logo-dsszzi"></span></a>
                <p>ДССЗЗІ України</p>
            </div>
        </div>
        <div class="contacts-side fr">
            <div class="contacts-block">
                <p>Адреса:</p>
                <p>04119, м.Київ, вул. Мельнікова, 83б</p>
            </div>
            <div class="contacts-block">
                <p>Телефони:</p>
                <p>(044) 288-88-83</p>
                <p>(044) 288-88-78</p>
            </div>
            <div class="contacts-block">
                <p>Електронна пошта:</p>
                <a href="mailto:cazi@dsszzi.gov.ua">cazi@dsszzi.gov.ua</a>
            </div>
        </div>
    </div>
</div>
