<div class="header" ng-controller="headerController">
    <div class="center clear-fix">
        <div class="logo-block" ng-class="{ 'authenticated': user}">
            <a ui-sref="authorization" class="logo"></a>
            <p>ЦЕНТР АНТИВІРУСНОГО ЗАХИСТУ ДЕРЖСПЕЦЗВ'ЯЗКУ УКРАЇНИ </p>
        </div>
        <div class="account-block fr" ng-if="user">
            <div class="account-drop-down" drop-down>
                <p>{{user.firstName}} {{user.lastName}}</p>
                <ul>
                    <li><a ui-sref="profile">Налаштування профілю</a></li>
                    <li><a ng-click="logout()">Вийти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
