.legalBase{
  .center {
    padding: 5% 10%;
    .legalLine{
      padding: 15px 0 0 0;
      a{
        font: 300 1.5em 'CenturyGothic-Regular';
        color: #515150;
        display: inline-block;
        vertical-align: bottom;
        transition: all .3s;
        &:hover{
          cursor: pointer;
          transition: all .3s;
          color: #68b4e4;
          i{
            opacity: 1;
            transition: all .3s;
          }
        }
        span{
          font: 300 1.0em 'CenturyGothic-Regular';
          display: inline-block;
          vertical-align: text-bottom;
          margin: 10px 0 0 25px;
          color: #777775;
        }
        i{
          color: #68b4e4;
          cursor: pointer;
          font-size: 1.2em;
          display: inline-block;
          margin-left: 25px;
          opacity: 0;
          transition: all .3s;
          &:hover{
            color: #eaad44;
          }
        }
      }
    }
  }
}