.view-wrap{
  &.signatures{
    .table{
      padding: 5% 0;
      a{
        text-align: center;
        display: block;
        i{
          font-size: 2.2em;
          color: #68b4e4;
          &:hover{
            transition: all .3s;
            color: #5c9fc9;
          }
        }
      }
    }
  }
}