<div class="modal-content questions">
    <form name="formData">
        <p class="title">Введіть данні для створення вендора АВПЗ</p>
        <span>Введіть назву нової організації:</span>
        <input type="text" ng-model="govInfo.organizationName" required>
    </form>
</div>
<div class="modal-footer">
   <button class="blue-btn" ng-click="closeThisDialog()">Скасувати</button>
   <button class="blue-btn" ng-click="createNewGov()" ng-disabled="formData.$invalid || formData.$pristine ">Створити</button>
</div>
