<div class="modal-content">
    <div class="clear-fix">
        <h2 ng-click="updateUserSwitch = 'userInfo'" class="underlined fl">Змініть дані користувача</h2>
        <h2 ng-click="updateUserSwitch = 'avpz'" class="underlined fr">Змініть АВПЗ</h2>
    </div>
    <div class="updateUser" ng-switch on="updateUserSwitch">
        <div class="userInfo" ng-switch-when="userInfo">
            <span>повна назва установи</span>
            <input type="text" name="organization" ng-model="userData.userInfo.organization" required>
            <div ng-messages="formData.organization.$error" role="alert" ng-if="formData.organization.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
            </div>
            <span>Ім'я, по батькові користувача</span>
            <input type="text" name="firstName" ng-model="userData.userInfo.firstName" required>
            <div ng-messages="formData.firstName.$error" role="alert" ng-if="formData.firstName.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
            </div>
            <span>Прізвище користувача</span>
            <input type="text" name="lastName" ng-model="userData.userInfo.lastName" required>
            <div ng-messages="formData.lastName.$error" role="alert" ng-if="formData.lastName.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
            </div>
            <span>Посада користувача</span>
            <input type="text" name="position" ng-model="userData.userInfo.position" required>
            <div ng-messages="formData.position.$error" role="alert" ng-if="formData.position.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
            </div>
            <span>телефон користувача</span>
            <input type="text" name="phone" ng-model="userData.userInfo.phone" required>
            <div ng-messages="formData.phone.$error" role="alert" ng-if="formData.phone.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
            </div>
            <span>email користувача</span>
            <input type="text" name="email" ng-model="userData.userInfo.email" ng-pattern="validationPatterns.emailCheck" required>
            <div ng-messages="formData.email.$error" role="alert" ng-if="formData.email.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
                <div class="message" ng-message="pattern">Введіть коректний email</div>
            </div>
            <span>логін користувача</span>
            <input type="text" name="login" ng-model="userData.userInfo.login" required>
            <div ng-messages="formData.login.$error" role="alert" ng-if="formData.login.$dirty">
                <div class="message" ng-message="required">Поле повна назва установи - не може бути порожнім</div>
            </div>
        </div >
        <div class="avpz" ng-switch-when="avpz">
            <div class="userHave">
                <div class="input-block" ng-repeat="item in avpzList | filter : {'isUsed' : true} track by $index">
                    <span ng-click="item.isUsed = !item.isUsed;">{{item.title}}</span>
                </div>
            </div>
            <div class="userNotHave">
                <div class="input-block" ng-repeat="item in avpzList | filter : {'isUsed' : false} track by $index">
                    <span ng-click="item.isUsed = !item.isUsed;">{{item.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
   <button class="blue-btn" ng-click="closeThisDialog()">Скасувати</button>
   <button class="blue-btn" ng-click="updateUser()">Зберегти</button>
</div>
