.view-wrap{
  &.statistics{
    .userCreationPie{
      width: 49.8%;
      display: inline-block;
      vertical-align: top;
      padding: 25px;
      height: 400px;
      text-align: center;
      border-right: 1px solid #515150;
      &:nth-child(even){
        border-right: 0;
      }
      canvas{
        margin: 0 auto;
      }
      p{
        padding-bottom: 25px;
        font: 300 1.6em 'CenturyGothic-Regular';
      }
      span{
        color: #515150;
        display: inline-block;
        padding-top: 10%;
        font-size: 10.5em;
      }
    }
  }
}