.view-wrap{
  &.avpzList{
    .table{
      padding: 0 0 5% 0;
      p{
        display: inline-block;
      }
      a{
        color: #68b4e4;
        margin-left: 5px;
        font-size: 1.0em;
        transition: all .3s;
        &:hover{
          transition: all .3s;
          color: #5c9fc9;
        }
      }
      i{
        font-size: 1.8em;
        color: #68b4e4;
        &.del{
          color: #eaad44;
          &:hover{
            transition: all .3s;
            color: #a3792f;
          }
        }
        &:hover{
          transition: all .3s;
          color: #5c9fc9;
        }
      }
    }

  }
}