<div class="view-wrap userNotifications">
    <div class="center white">
        <div class="search-bar clear-fix">
            <div class="blue-btn fr">Нове повідомлення</div>
        </div>
        <div class="table">
            <div class="row header">
                <div class="cell">
                    №
                </div>
                <div class="cell">
                    Заголовок повідомлення
                </div>
                <div class="cell">
                    Текст повідомлення
                </div>
                <div class="cell">
                    Дата створення
                </div>
                <div class="cell">
                    Створив
                </div>
                <div class="cell">
                    Публікація
                </div>
            </div>
            <div class="row" ng-repeat="item in users">
                <div class="cell">
                    {{$index + 1}}
                </div>
                <div class="cell">
                    {{::item.firstName}} {{::item.lastName}}
                </div>
                <div class="cell">
                    {{::item.organization}}
                </div>
                <div class="cell">
                    {{::item.phone}}
                </div>
                <div class="cell text-center">
                    <i class="fa fa-check-circle isActive" ng-if="item.isActive == 1"></i>
                    <i class="fa fa-times-circle red isActive" ng-if="item.isActive == 0 || item.isActive == null"></i>
                </div>
            </div>
        </div>
    </div>
</div>
