.auth-wrap{
  width: 100%;
  min-height: 550px;
  padding-top: 7%;
  text-align: center;
  background: url('assets/images/auth-bg.jpg') no-repeat center;
  background-size: cover;
  .auth-block{
    width: 390px;
    min-height: 380px;
    padding: 25px 55px;
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    margin: 0 auto;
    p{
      font: 300 3.0em 'CenturyGothic-Bold';
      color: #515150;
      text-align: center;
      padding-bottom: 20px;
      text-transform: uppercase;
    }

    .input-block{
      text-align: left;
      margin: 25px 0;
      input{
        margin: 25px 0;
        border: 1px solid #2770a7;
        color: #2770a7;
        &::-webkit-input-placeholder {color:#2770a7;}
        &::-moz-placeholder          {color:#2770a7;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#2770a7;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#2770a7;}
      }
      a{
        color: #2770a7;
        font: 300 1.6em 'CenturyGothic-Regular';
        border-bottom: 1px dashed #2770a7;
        display: inline;
        &:hover{
          color: #255f91;
          border-bottom: 1px dashed #255f91;
        }
      }
    }
    .blue-btn{
      width: 100%;
      display: block;
      padding: 12px 25px;
      background-color: #2770a7;
      &:hover{
        background-color: #255f91;
      }
    }
  }
}