.view-wrap{
  &.profile{
    .passwordChangeBlock{
      width: 50%;
      margin: 0 auto;
      padding: 5% 0;
      span{
        color: #515150;
        margin-bottom: 5px;
        font: 400 1.2em 'CenturyGothic-Regular';
      }
      input{
        height: 37px;
        color: #515150;
      }
    }
  }
}