<div class="modal-content urgentMsg">
    <p class="title">
        Створіть термінове повідомдення для усіх користувачі вашої мережі:
    </p>
    <form name="formData" novalidate>
        <span>Заголовок повідомлення:</span>
        <input type="text" name="title" ng-model="msgData.urgentMsg.title" required>
        <div ng-messages="formData.title.$error" role="alert" ng-if="formData.title.$dirty">
            <div class="message" ng-message="required">Поле заголовок - не може бути порожнім</div>
        </div>
        <span>Текст повідомлення:</span>
        <textarea type="text" name="content" ng-model="msgData.urgentMsg.content" required></textarea>
        <div ng-messages="formData.content.$error" role="alert" ng-if="formData.content.$dirty">
            <div class="message" ng-message="required">Поле текст - не може бути порожнім</div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="blue-btn" ng-click="closeThisDialog()">Скасувати</button>
    <button class="blue-btn" ng-click="createUrgentMsg()" ng-disabled="formData.$invalid || formData.$pristine ">Створити</button>
</div>
