@import "sass/reset",
        "sass/fonts",
        "sass/inputsButtons",
        "sass/datepicker",
        "app/modalTemplates/modals",
        "app/commonRouts/authorization/authorization",
        "app/commonRouts/contacts/contacts",
        "app/commonRouts/questionsAnswers/questionsAnswers",
        "app/commonRouts/legalBase/legalBase",
        "app/commonRouts/profile/profile",
        "app/commonRouts/nomenclature/nomenclature",
        "app/userRouts/userDashboard/userDashboard",
        "app/userRouts/signatures/signatures",
        "app/adminRouts/usersList/usersList",
        "app/adminRouts/avpzList/avpzList",
        "app/adminRouts/userNotifications/userNotifications",
        "app/adminRouts/createUser/createUser",
        "app/adminRouts/adminDashboard/adminDashboard",
        "app/adminRouts/contentRouts/questionsContent/questionsContent",
        "app/adminRouts/contentRouts/legalContent/legalContent",
        "app/components/header/header",
        "app/components/footer/footer",
        "app/components/preloader/preloader",
        "app/components/navigation/navigation";
.center{
  max-width: 1120px;
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  &.white{
    background-color: #ffffff;
    min-height: 400px;
  }
}
.view-wrap{
  background-color: #e2e7ef;
}

.close{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  cursor: pointer;
  background: local url("assets/images/icons/trash.png") no-repeat center;
  background-size: cover;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: red;
  z-index: 1;
}
.clear-fix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
}
.ngdialog {
  z-index: 99;
}
.ui-notification{
  z-index: 100;
  border-radius: 3px;
  h3{
    font: 400 1.8em 'CenturyGothic-Regular';
  }
  .message{
    font: 400 1.5em 'CenturyGothic-Regular';
  }
}
.column{
  width: 45%;
  margin-right: 9.7%;
  display: inline-block;
  vertical-align: top;
  &:last-child{
    margin: 0;
  }
}
form{
  .message{
    font: 300 1.3em 'CenturyGothic-Regular';
    font-style: italic;
    margin: 5px 0  20px 10px;
    color: #ff4f2a;
    transition: all .5s;
  }
  span{
    font: 300 1.0em 'CenturyGothic-Regular';
    color: #838383;
    display: block;
    text-transform: uppercase;
  }
}
.ng-dirty{
 &.ng-invalid{
   border-color: #ff4f2a;
 }
}