.search-bar{
  padding: 35px 0;
  input{
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 10px;
    width: 75.9%;
    margin: 0;
  }
  .blue-btn{
    height: 32px;
    font-size: 1.4em;
    line-height: 14px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
  }
  .blue-box{
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background-color: #68b4e4;
    text-align: center;
    transition: all .3s;
    &:hover{
      cursor: pointer;
      transition: all .3s;
      background-color: #5990bb;
    }

    i{
      color: #ffffff;
      font-size: 1.8em;
      margin-top: 7px;
    }
  }
}
.table {
  width: 100%;
  display: table;
  padding-bottom: 35px;
  .row {
    display: table-row;
    background: #f6f6f6;
    &:nth-of-type(odd) {
      background: #e9e9e9;
    }
    &.header {
      color: #ffffff;
      text-align: justify;
      background: #eaad44;
    }
    .cell {
      padding: 6px 12px;
      font: 300 1.2em'CenturyGothic-Regular';
      display: table-cell;
      &.organization{width: 30%}
      &.lastVisit{width: 13.3%}
      &.text-center{
        text-align: center;
      }
      p{
        font: 300 1.0em'CenturyGothic-Regular';
        transition: all .3s;
        &:hover{
          color: #eaad44;
          cursor: pointer;
          transition: all .3s;
        }
      }
      i{
        color: #eaad44;
        font-size: 1.6em;
        transition: color .3s;
        &.isActive{
          margin-right: 0;
        }
        &.red{
          color: #d40a0a;
        }
        &:hover{
          color: #ab812f;
          cursor: pointer;
          transition: color .3s;
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}
.modal-content{
  h2{
    margin: 0 0 25px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: all .3s;
    text-transform: uppercase;
    font: 300 1.8em 'CenturyGothic-Regular';
    &:after{
      background-color: #68b4e4;
      top: 25px;
    }
    &:hover{
      color: #68b4e4;
    }
    &.active{
      color: #68b4e4;
      &:after{
        width: 100%;
      }
    }
  }

  .updateUser{
    span{
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 5px;
      font: 300 1.2em 'CenturyGothic-Regular';
    }
    input{
      height: 35px;
    }
  }
  .avpz{
    .input-block{
      span{
        display: block;
        padding: 10px 10px;
        cursor: pointer;
        text-transform: none;
        transition: all .3s;
        font: 300 1.4em 'CenturyGothic-Regular';
      }
      &:hover{
        span{
          padding-left: 25px;
          color: #ffffff;
          transition: all .3s;
          background-color: #68b4e4;
        }
      }
    }
    .userHave{
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
    .userNotHave{
      width: 49%;
      display: inline-block;
    }
  }
}
