<div class="view-wrap">
    <div class="center white">
        <div class="search-bar">
            <input type="text" placeholder="Введіть пошуковий запит">
            <button class="blue-btn" ui-sref="createUser">Новий користувач</button>
            <div class="blue-box" ui-sref="userNotifications">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="blue-box" ui-sref="statistics">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </div>
        </div>

        <div class="table">
            <div class="row header">
                <div class="cell">
                    №
                </div>
                <div class="cell">
                    ПІБ
                </div>
                <div class="cell">
                    Організація
                </div>
                <div class="cell">
                    Телефон
                </div>
                <div class="cell">
                    Логін
                </div>
                <div class="cell">
                    Email
                </div>
                <div class="cell lastVisit">
                    Остання активність
                </div>
                <div class="cell">
                    Створив
                </div>
                <div class="cell">
                    Активність
                </div>
            </div>
            <div class="row" ng-repeat="item in users">
                <div class="cell">
                    {{$index + 1}}.
                </div>
                <div class="cell">
                    <p ng-click="updateUser(item)">{{::item.firstName}} {{::item.lastName}}</p>
                </div>
                <div class="cell">
                    {{::item.organization}}
                </div>
                <div class="cell">
                    {{::item.phone}}
                </div>
                <div class="cell">
                    {{::item.login}}
                </div>
                <div class="cell">
                    {{::item.email}}
                </div>
                <div class="cell lastVisit">
                    {{:: item.lastVisit == null ? 'Ні разу входили до системи' : item.lastVisit}}
                </div>
                <div class="cell">
                    {{::item.creator}}
                </div>
                <div class="cell text-center">
                    <i class="fa fa-check-circle isActive" ng-if="item.isActive == 1"></i>
                    <i class="fa fa-times-circle red isActive" ng-if="item.isActive == 0 || item.isActive == null"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<preloader ng-show="isLoading"></preloader>