navigation{
  .navigation{
    background-color: #515150;
    text-align: center;
    ul{
      display: inline-block;
      li{
        display: inline-block;
        vertical-align: middle;
        transition: all .3s;
        &:hover{
          background-color: rgba(110, 110, 109, 0.6);
          transition: all .3s;
        }
        &.active{
          transition: all .3s;
          background-color: #6e6e6d;
        }
        a{
          font: 300 1.4em 'CenturyGothic-Regular';
          color: #ffffff;
          display: inline-block;
          padding: 10px 20px;
        }
      }
    }
  }
}