.step-line{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0;
  .step{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    width: 180px;
    text-align: center;
    position: relative;
    margin-left: 20px;
    background-color: #515150;
    &:last-child{
      &:after{
        display: none;
      }
    }
    p{
      font: 400 1.4em 'CenturyGothic-Regular';
      color: #ffffff;
    }
    &:after{
      position: absolute;
      right: -20px;
      top: 18px;
      content: '';
      width: 20px;
      height: 2px;
      background-color: #515150;
    }
    &.active{
      background-color: #eaad44;
      p{
        color: #FFFFFF;
      }
    }
  }
}
.title{
  font: 400 1.6em 'CenturyGothic-Bold';
  color: #515150;
  margin: 25px 0;
  position: relative;
  &.required{
    display: inline-block;
    &:after{
      position: absolute;
      right: -10px;
      top: 0;
      content: '*';
      color: #68b4e4;
    }
  }
}
.first-step,
.second-step,
.third-step{
  h3{
    color: #515150;
    text-align: center;
    margin-bottom: 15px;
  }
  span{
    color: #515150;
    margin-bottom: 5px;
    font: 400 1.2em 'CenturyGothic-Regular';
  }
  input{
    height: 37px;
    color: #515150;
    &+label{
      margin: 10px 0;
    }
  }
}
.second-step{
  min-width: 800px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.third-step{
  span{
    font-size: 1.4em;
    display: block;
    margin: 10px 20px;
    span{
      font: 300 1.1em 'CenturyGothic-Bold';
      display: inline-block;
      vertical-align: bottom;
      margin: 0;
    }
  }
}
.btn-line{
  text-align: center;
  padding: 40px 0;
  .blue-btn{
    line-height: 15px;
    height: 37px;
    &:first-child{
      margin-right: 15px;
    }
  }
}
